@inject IJSRuntime JS

<label>Click the Spheres to select them. @(_url) </label>
<label>SupportsWebGPU: @(_startEngineResult?.webGpuSupported) WebGPUUsed: @(_startEngineResult?.webGpuUsed) </label>
<div style="width: 100%; height: 98vh">
    <Scene EngineStarted="@OnEngineStarted"></Scene>
</div>

@code {
    private string? _url = null;

    private StartEngineResult? _startEngineResult = null;

    protected override async Task OnAfterRenderAsync(bool firstRender)
    {
        if (firstRender)
        {
            _url = await JS.InvokeAsync<string>("blazorGetCurrentUrl");
            StateHasChanged();
        }   
    }

    private void OnEngineStarted(StartEngineResult startEngineResult)
    {
        _startEngineResult = startEngineResult;
        StateHasChanged();
    }
}